# Created by https://www.toptal.com/developers/gitignore/api/git,virtualenv
# Edit at https://www.toptal.com/developers/gitignore?templates=git,virtualenv

### Git ###
# Created by git for backups. To disable backups in Git:
# $ git config --global mergetool.keepBackup false
*.orig

# Created by git when using merge tools for conflicts
*.BACKUP.*
*.BASE.*
*.LOCAL.*
*.REMOTE.*
*_BACKUP_*.txt
*_BASE_*.txt
*_LOCAL_*.txt
*_REMOTE_*.txt

### VirtualEnv ###
# Virtualenv
# http://iamzed.com/2009/05/07/a-primer-on-virtualenv/
.Python
[Bb]in
[Ii]nclude
[Ll]ib
[Ll]ib64
[Ll]ocal
[Ss]cripts
pyvenv.cfg
.venv
pip-selfcheck.json

# End of https://www.toptal.com/developers/gitignore/api/git,virtualenv
site
docs/stylesheets/MapleMono-Bold.woff2
docs/stylesheets/MapleMono-BoldItalic.woff2
docs/stylesheets/MapleMono-Italic.woff2
docs/stylesheets/MapleMono-Light.woff2
docs/stylesheets/MapleMono-LightItalic.woff2
docs/stylesheets/MapleMono-Regular.woff2
docs/stylesheets/MapleMono-SC-NF-Bold.ttf
docs/stylesheets/MapleMono-SC-NF-BoldItalic.ttf
docs/stylesheets/MapleMono-SC-NF-Italic.ttf
docs/stylesheets/MapleMono-SC-NF-Light.ttf
docs/stylesheets/MapleMono-SC-NF-LightItalic.ttf
docs/stylesheets/MapleMono-SC-NF-Regular.ttf
docs/stylesheets/ResourceHanRoundedHC-Bold.ttf
docs/stylesheets/ResourceHanRoundedHC-ExtraLight.ttf
docs/stylesheets/ResourceHanRoundedHC-Heavy.ttf
docs/stylesheets/ResourceHanRoundedHC-Light.ttf
docs/stylesheets/ResourceHanRoundedHC-Medium.ttf
docs/stylesheets/ResourceHanRoundedHC-Normal.ttf
docs/stylesheets/ResourceHanRoundedHC-Regular.ttf
docs/stylesheets/ResourceHanRoundedJ-Bold.ttf
docs/stylesheets/ResourceHanRoundedJ-ExtraLight.ttf
docs/stylesheets/ResourceHanRoundedJ-Heavy.ttf
docs/stylesheets/ResourceHanRoundedJ-Light.ttf
docs/stylesheets/ResourceHanRoundedJ-Medium.ttf
docs/stylesheets/ResourceHanRoundedJ-Normal.ttf
docs/stylesheets/ResourceHanRoundedJ-Regular.ttf
docs/stylesheets/ResourceHanRoundedK-Bold.ttf
docs/stylesheets/ResourceHanRoundedK-ExtraLight.ttf
docs/stylesheets/ResourceHanRoundedK-Heavy.ttf
docs/stylesheets/ResourceHanRoundedK-Light.ttf
docs/stylesheets/ResourceHanRoundedK-Medium.ttf
docs/stylesheets/ResourceHanRoundedK-Normal.ttf
docs/stylesheets/ResourceHanRoundedK-Regular.ttf
docs/stylesheets/ResourceHanRoundedSC-Bold.ttf
docs/stylesheets/ResourceHanRoundedSC-ExtraLight.ttf
docs/stylesheets/ResourceHanRoundedSC-Heavy.ttf
docs/stylesheets/ResourceHanRoundedSC-Light.ttf
docs/stylesheets/ResourceHanRoundedSC-Medium.ttf
docs/stylesheets/ResourceHanRoundedSC-Normal.ttf
docs/stylesheets/ResourceHanRoundedSC-Regular.ttf
docs/stylesheets/ResourceHanRoundedTC-Bold.ttf
docs/stylesheets/ResourceHanRoundedTC-ExtraLight.ttf
docs/stylesheets/ResourceHanRoundedTC-Heavy.ttf
docs/stylesheets/ResourceHanRoundedTC-Light.ttf
docs/stylesheets/ResourceHanRoundedTC-Medium.ttf
docs/stylesheets/ResourceHanRoundedTC-Normal.ttf
docs/stylesheets/ResourceHanRoundedTC-Regular.ttf
